$themes: (
  blueBerry: (
    backgroundColor: #eef,
    colorX: #eef,
    colorY: #f0e0ff,
    foreColor: #004,
    gridColorStepAmt: -4%
  ),
  bw: (
    colorX: #fff,
    colorXAlt: #f8f8f8,
    colorY: #fcfcfc,
    colorYAlt: #f4f4f4,
    foreColor: #111
  ),
  highContrast: (
    backgroundColor: #333,
    colorX: #222,
    colorXAlt: #000,
    colorY: #111,
    colorYAlt: #222,
    foreColor: #ff0,
  ),
  sunset: (
    backgroundColor: #f8f8ff,
    colorX: #ffe3f7,
    colorY: #ffffdd,
    foreColor: #443,
    gridColorStepAmt: -4%
  )
);
