<div *ngIf="gridVm?.categoryRows">
  <div class="outer-grid" *ngFor="let r of gridVm?.categoryRows; let yIndex = index">

    <!-- header row -->
    <ng-container *ngIf="yIndex === 0">
      <div class="vert-label vert-cat-label">
      </div>
      <div *ngFor="let m of r" class="x-label">
        {{m.catX.label}}
      </div>
      <div class="vert-label vert-cat-label">

      </div>
      <div *ngFor="let m of r; let xIndex = index" class="x-item-label-grid">
        <div *ngIf="xIndex === 0"></div>
        <div *ngFor="let i of m.catX.items" class="vert-label vert-item-label" >
          <div class="vert-label-inner">
            {{i.label}}
          </div>
        </div>
      </div>
    </ng-container>

    <!-- grid items -->
    <div class="vert-label vert-cat-label">
      <div class="vert-label-inner">
        {{r[0].catY.label}}
      </div>
    </div>
    <div *ngFor="let m of r; let xIndex = index" class="item-grid">
      <ng-container *ngFor="let i of m.itemMatrix" >
        <div *ngIf="xIndex === 0 " class="row-start">{{i[0].itemY.label}}</div>
        <div *ngFor="let j of i; let index = index" [ngClass]="{ 'row-start': xIndex !== 0 && index === 0 }" >
          <app-problem-grid-item></app-problem-grid-item>
        </div>
      </ng-container>
    </div>

  </div>
</div>
