div {
  box-sizing: border-box;
}
.grid {
  display: grid;
  grid-template-columns: 1fr 5fr;
  grid-template-rows: 1fr 5fr;
  grid-auto-columns: 1fr;
  grid-auto-rows: 1fr;
  font-size: 16pt;
  grid-gap: 1px;
  width: 100%;
  height: 100%;
  >div {
    // simulate border with box-shadow.
    box-shadow: 0 0 0 1px #000;
  }
}
.cat-label {
  background: #ff0000;
  color: white;
  text-align: center;
}
.item-label {
  background: #880000;
  color: white;
}
// horiz-labels need one inner div so the text can be set in the middle.
.horiz-label {
  overflow:hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  width: 100%;
  padding: 0 3%;
  white-space: nowrap;
}
// vert-labels need two inner divs due to the rotation and need to set in the middle.
.vert-label {
  overflow-y: hidden;
  transform: rotate(180deg);
  position: relative;
  >div {
    writing-mode: vertical-rl;
    height: 100%;
    width: 100%;
    // the following 3 flex-blox style assure that the inner div is vertically aligned in the middle.
    display: flex;
    flex-direction: column;
    justify-content: center;
    > div {
      white-space: nowrap;
      padding: 3% 0;
    }
  }
}

.elem {
  background: coral;
  &.reject {
    background: #555;
  }
  &.accept {
    background: #0e0;
  }
}

$border: 2px solid black;
.border-top { border-top: $border; }
.border-left { border-left: $border; }
.border-bottom { border-bottom: $border; }
.border-right { border-right: $border; }
.border-x { border-left: $border; border-right: $border; }
.border-y { border-top: $border; border-bottom: $border; }

