// this is synced with problem-host flex direction so that it takes up full space on the cross direction.
svg {
  width: 100%;
  @media (min-aspect-ratio: 8/9) {
    width: unset;
    height: 100%;
  }
}
rect {
  stroke:rgb(127,127,127);
}

.grid-cell {
  > rect {
    stroke-width: .25;
  }
  > text {
    font: 10px -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    &.cat-label {
      font-weight: bold;
    }
    fill:rgb(0, 96, 96);
  }
}
