<div *ngIf="gridVm" class="grid">
  <ng-container *ngFor="let cat of gridVm!.xCats">
    <div class="horiz-label cat-label border-y"
      [style.gridColumn]="getCatLabelGridRange(cat)" [style.gridRow]="1"
      [ngClass]="getBorderX(cat)">
      {{cat.label}}
    </div>
    <div *ngFor="let item of cat.items" class="vert-label item-label"
      [style.gridColumn]="getItemGridIndex(cat, item)" [style.gridRow]="'2 / span 1'"
      [ngClass]="getBorderX(cat, item, true)">
      <div>
        <div>
          {{item.label}}
        </div>
      </div>
    </div>
  </ng-container>
  <ng-container *ngFor="let cat of gridVm!.yCats">
    <div class="cat-label vert-label border-x"
      [style.gridRow]="getCatLabelGridRange(cat)" [style.gridColumn]="'1 / span 1'"
      [ngClass]="getBorderY(cat, null, true)">
      <div>
        <div>
          {{cat.label}}
        </div>
      </div>
    </div>
    <div *ngFor="let item of cat.items" class="horiz-label item-label" [style.textAlign]="'right'"
      [style.gridRow]="getItemGridIndex(cat, item)" [style.gridColumn]="'2 / span 1'" [ngClass]="getBorderY(cat, item)">
      <div>
        {{item.label}}
      </div>
    </div>
  </ng-container>
  <ng-container *ngFor="let matricesRow of gridVm!.matrices">
    <ng-container *ngFor="let catMatrix of matricesRow">
      <ng-container *ngFor="let matrixRow of catMatrix.elems">
        <div *ngFor="let mElem of matrixRow" class="elem"
          [ngClass]="getMatrixElemClass(catMatrix, mElem)"
          (click)="toggleState(mElem)"
          [style.gridRow]="getItemGridIndex(catMatrix.catY, mElem.itemY)"
          [style.gridColumn]="getItemGridIndex(catMatrix.catX, mElem.itemX)">

        </div>
      </ng-container>
    </ng-container>
  </ng-container>
</div>
