<svg *ngIf="(gridVm$ | async) as gridVm" [attr.viewBox]="'0 0 ' + gridVm.totalLength + ' ' +gridVm.totalLength">
  <defs>
    <g id="acceptIcon" fill="#0d1" stroke-width="1" stroke="#080">
      <circle [attr.cx]="baseUnit / 2" [attr.cy]="baseUnit / 2" [attr.r]="baseUnit / 3" />
    </g>
    <g id="rejectIcon" stroke-width="2">
      <line x1="3" y1="3" [attr.x2]="baseUnit - 3" [attr.y2]="baseUnit - 3" />
      <line x1="3" [attr.y1]="baseUnit - 3" [attr.x2]="baseUnit - 3" y2="3" />
    </g>
  </defs>
  <g transform="translate(.5, .5)">
    <g class="game-grid">
      <ng-container *ngFor="let cat of gridVm!.xCats">
        <rect [appProblemGridRect]="cat.labelRect" [catX]="cat.index" />
        <text [appProblemGridLabel]="cat.labelRect" class="cat-label" textAlign="center">{{cat.label}}</text>
        <ng-container *ngFor="let item of cat.items; let index = index">
          <rect [appProblemGridRect]="item.labelRect" [catX]="cat.index" />
          <text [appProblemGridLabel]="item.labelRect" orientation="vert">{{item.label}}</text>
        </ng-container>
      </ng-container>
      <ng-container *ngFor="let cat of gridVm!.yCats">
        <rect [appProblemGridRect]="cat.labelRect" [catY]="cat.index"  />
        <text [appProblemGridLabel]="cat.labelRect" class="cat-label" textAlign="center" orientation="vert">
          {{cat.label}}
        </text>
        <ng-container *ngFor="let item of cat.items; let index = index">
          <rect [appProblemGridRect]="item.labelRect" [catY]="cat.index"  />
          <text [appProblemGridLabel]="item.labelRect" textAlign="right">{{item.label}}</text>
        </ng-container>
      </ng-container>
      <g *ngFor="let elem of gridVm!.elems" (click)="toggleState(elem); $event.stopPropagation();">
        <rect [appProblemGridRect]="elem.gridRect" [catX]="elem.catXIdx" [catY]="elem.catYIdx"  />
      </g>
      <g *ngFor="let mElem of (values$ | async)" [attr.class]="mElem.error ? 'has-error' : ''" pointer-events="none">
        <rect *ngIf="mElem.error" fill="#ff0000" [appProblemGridRect]="mElem.gridRect"></rect>
        <use href="#rejectIcon" *ngIf="mElem.state === 'reject'" [appProblemGridRect]="mElem.gridRect" />
        <use href="#acceptIcon" *ngIf="mElem.state === 'accept'" [appProblemGridRect]="mElem.gridRect" />
      </g>
    </g>
    <rect *ngFor="let track of gridVm!.tracks" stroke-width=".8" fill="transparent" pointer-events="none"
      [appProblemGridRect]="track" />
  </g>
</svg>
