$border-width: 2px;

div {
  box-sizing: border-box;
}
.grid {
  display: grid;
  grid-template-columns: 1fr 5fr;
  grid-template-rows: 1fr 5fr;
  grid-auto-columns: 1fr;
  grid-auto-rows: 1fr;
  font-size: 10pt;
  grid-gap: $border-width;
  width: 100%;
  height: 100%;
}

.cat-label {
  background: #ff0000;
  color: white;
  text-align: center;
}
.item-label {
  background: #880000;
  color: white;
}
// horiz-labels need one inner div so the text can be set in the middle.
.horiz-label {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  width: 100%;
  padding: 0 3%;
}
// vert-labels need two inner divs due to the rotation.
.vert-label {
  overflow-y: hidden;
  transform: rotate(180deg);
  position: relative;

  >div {
    writing-mode: vertical-rl;
    height: 100%;
    width: 100%;
    white-space: nowrap;
    display: flex;
    flex-direction: column;
    justify-content: center;
    > div {
      padding: 3% 0;
    }
  }
}

.item {
  border: 0 solid black;
  border-collapse: collapse;
  background: coral;
  &.reject {
    background: #555;
  }
  &.accept {
    background: #0e0;
  }
  &.border-top { border-top-width: $border-width; }
  &.border-left { border-left-width: $border-width; }
  &.border-bottom { border-bottom-width: $border-width; }
  &.border-right { border-right-width: $border-width; }
}
